<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-layout">
<head>
<title>Main</title>
</head>
<body>
	<header>
		<h1>Spese interne</h1>
	</header>
	<section layout:fragment="navbar">
		<ul class="nav nav-pills">
			<li role="presentation" class="active"><a href="/">Index</a></li>
			<li role="presentation"><a href="/utenti">Inserisci utente</a></li>
		</ul>
	</section>
	<section layout:fragment="content">
		
		<table class="table">
			<thead>
				<tr>
					<th>Utente</th>
					<th>Totale (&euro;)</th>
					<th>Ultima spesa</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dettaglioUtente : ${dettagliUtenti}">
					<td><a href="/spese"
						th:href="@{'/utenti/' + ${dettaglioUtente.utente.username} +'/spese'}"
						th:text="${dettaglioUtente.utente.username}">username</a></td>
					<td th:text="${dettaglioUtente.totale}">00.00</td>
					<td th:text="${dettaglioUtente.ultimaModifica}">YYYY/MM/DD</td>
				</tr>
			</tbody>

		</table>
	</section>
</body>
</html>