<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-layout">
<head>
<title>Inserimento spese</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Dettagli utente</h3>
			</div>
			<div class="panel-body">
				<form class="form" action="#" th:action="@{/salvaUtente}"
					th:object="${utente}" method="post">
					<div class="form-group">
						<label for="username">Username</label> <input type="text"
							th:field="*{username}" class="form-control" id="username"
							placeholder="username" name="username" />
					</div>
					<button type="submit" class="btn btn-default">Inserisci</button>
				</form>
			</div>
		</div>
	</section>
</body>
</html>