<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="main-layout">
<head>
<title>Inserimento Spese</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Dettagli Utente</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="username-up" class="control-label">Username</label>
					<p id="username-up" class="form-control-static"
						th:text="${spesa.utente.username}">username</p>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Inserisci Spesa</h3>
			</div>
			<div class="panel-body">
				<form class="form" action="#"
					th:action="@{'/utenti/' + ${spesa.utente.username} +'/salvaSpesa'}"
					th:object="${spesa}" method="post">
					<div class="form-group">
						<label for="dataSpesa" class="control-label">Data:</label>
						<div class='input-group date' id='datePicker'>
							<input type='text' th:field="*{dataSpesa}" name="dataSpesa"
								class="form-control" id="dataSpesa" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<div class="form-group">
							<label for="valore" class="control-label">Valore</label> <input
								type="text" th:field="*{valore}" class="form-control"
								id="valore" placeholder="valore" name="valore" />
						</div>
						<button type="submit" class="btn btn-default">Inserisci</button>
					</div>
				</form>
				<script type="text/javascript">
					$(function() {
						$('#datePicker').datetimepicker({
							format : 'YYYY-MM-DD'
						});
					});
				</script>
			</div>
		</div>
	</section>
</body>
</html>