<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Spese
	Interne</title>
<link rel="stylesheet"
	th:href="@{/bootstrap/3.3.5/css/bootstrap.min.css}"
	href="bootstrap.min.css" />
<link rel="stylesheet"
	th:href="@{/bootstrap/3.3.5/css/bootstrap-theme.min.css}"
	href="bootstrap-theme.min.css" />
<link rel="stylesheet"
	th:href="@{/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}"
	href="bootstrap-datetimepicker.min.css" />
</head>
<body>
	<header>
		<div class="page-header">
			<h1>
				Spese Interne <small>Gestione delle spese</small>
			</h1>
		</div>
		<section layout:fragment="navbar">
			<p>navbar</p>
		</section>
	</header>
	<div>
		<section layout:fragment="content">
			<p>Contenuto della pagina</p>
		</section>
	</div>

	<script th:src="@{/jquery/1.11.3/jquery.min.js}" src="jquery.min.js"></script>
	<script th:src="@{/bootstrap/3.3.5/js/bootstrap.min.js}"
		src="bootstrap.min.js"></script>
	<script th:src="@{/moment/moment-with-locales.min.js}"
		src="moment-with-locales.min.js"></script>
	<script
		th:src="@{/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"
		src="bootstrap-datetimepicker.min.js"></script>
</body>
</html>